# Making dictionary using function

In [1]:
a = dict({1:"arup",2:"dalai"})
print(a)

{1: 'arup', 2: 'dalai'}

# Nested dictionary

In [2]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students)

{'name': 'Arup', 'Subject': {'Math': 90, 'Science': 70, 'English': 100}}

In [5]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students["Subject"]["Science"])

70

In [6]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students["name"])

Arup

# change the existing key value

In [7]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
students["Subject"]["Math"] = 80
print(students)

{'name': 'Arup', 'Subject': {'Math': 80, 'Science': 70, 'English': 100}}

# Adding new key value

In [8]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
students["age"] = 21
students["Subject"]["Hindi"] = 80
print(students)

{'name': 'Arup', 'Subject': {'Math': 90, 'Science': 70, 'English': 100, 'Hindi': 80}, 'age': 21}

# View all Keys

In [9]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students.keys())

dict_keys(['name', 'Subject'])

# Empty dictionary

In [10]:
students = {}
print(type(students))
print(students)

<class 'dict'>
{}

# View all values

In [11]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students.values())

dict_values(['Arup', {'Math': 90, 'Science': 70, 'English': 100}])

# view items

In [12]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students.items())

dict_items([('name', 'Arup'), ('Subject', {'Math': 90, 'Science': 70, 'English': 100})])

# Key accordinf to value

In [14]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
print(students["name"])
print(students.get("name"))

Arup
Arup

# Add specific items to a dictionary
# concatination

In [16]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
students1 ={"age":21,"class":"Eleven","Gender":"Male"}
students.update(students1)
print(students)

{'name': 'Arup', 'Subject': {'Math': 90, 'Science': 70, 'English': 100}, 'age': 21, 'class': 'Eleven', 'Gender': 'Male'}

# pop items from dictionary

In [17]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
students.pop("name")
print(students)

{'Subject': {'Math': 90, 'Science': 70, 'English': 100}}

In [22]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100}}
del students["name"]
print(students)

{'Subject': {'Math': 90, 'Science': 70, 'English': 100}}

# values are tuple,list,dict,set,string,int,float,bollean
# keys are Tuples,int,string,bollean,float

In [19]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100},"age":[10,20,30],"class":(1,2,3,4,5),"Gender":{"Male","Female"}}
print(students)

{'name': 'Arup', 'Subject': {'Math': 90, 'Science': 70, 'English': 100}, 'age': [10, 20, 30], 'class': (1, 2, 3, 4, 5), 'Gender': {'Female', 'Male'}}

# length of dictionary

In [20]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100},"age":[10,20,30],"class":(1,2,3,4,5),"Gender":{"Male","Female"}}
print(len(students))

5

# Delete dictionary

In [21]:
students = {"name":"Arup","Subject":{"Math":90,"Science":70,"English":100},"age":[10,20,30],"class":(1,2,3,4,5),"Gender":{"Male","Female"}}
del students
print(len(students))

NameError: name 'students' is not defined