# Functions

# Print in  same line

In [2]:
print("hello",end=" ")
print("world")

hello world

# WAF to print the length of a list. (list is the parameter)

In [3]:
def print_length(list1):
    print(len(list1))
    
list1 = ["arup",2,2.3,True,2+3j]
print_length(list1)

5

# WAF to print element of list in a single line. (list is the parameter)

In [4]:
def print_length(list1):
    for i in list1:
        print(i,end=" ")
    
list1 = ["arup",2,2.3,True,2+3j]
print_length(list1)

arup 2 2.3 True (2+3j)

# WAF to  find factorial of n . (n is the parameter)

In [12]:
def factorial(n):
    fac = 1
    for i in range(n,0,-1):
        fac *= i
    return fac

n = int(input("Enter the number: "))
print(factorial(n))

Enter the number: 5
120

In [11]:
def factorial(n):
    fac = 1
    for i in range(1,n+1):
        fac *= i
    return fac

n = int(input("Enter the number: "))
print(factorial(n))

Enter the number: 5
120

# WAF to convert USD to INR.

In [10]:
def convert(USD):
    return 82*USD

USD = int(input("Enter the USD: "))
INR = convert(USD)
print(USD,"USD = ",INR,"INR")

Enter the USD: 1000
1000 USD =  82000 INR

# WAF to print the number is odd or even.

In [14]:
def even_odd(n):
    if (n%2==0):
        print("number is even")
    else:
        print("number is odd")
    
n = int(input("Enter the number: "))
even_odd(n)

Enter the number: 6
number is even

# Recursion 
# when a function call itself repatedly

# print Number from 1 to 5 using recursion

In [16]:
def num(n):
    if (n==6): # base case
        return
    print(n)
    num(n+1)

num(1)

1
2
3
4
5

# Write a recursion function to calculate the factorial of number.

In [1]:
def factorial(n):
    fac = 1
    if (n==1 or n==0):
        return 1
    return factorial(n-1) * n
    
n = int(input("Enter the number: "))
print(factorial(n))

Enter the number: 5
120

In [6]:
def factorial(n):
    fac = 1
    if (n==1 or n==0):
        return 1
    fac = factorial(n-1) * n
    return fac
    
n = int(input("Enter the number: "))
print(factorial(n))

Enter the number: 5
120

# Write a recursion function to calculate the sum of first n natural numbers.

In [7]:
def sumof(n):
    sum = 0
    if (n == 1 or n == 0):
        return 1
    sum = sumof(n-1) + n
    return sum

n = int(input("Enter the number: "))
print(sumof(n))

Enter the number: 5
15

# Write a recursion function to print all the elements in a list . (Hint : use list and index as parameters).

In [5]:
def list1_ele(list1,idx):
    if idx == len(list1):
        return
    print(list1[idx])
    list1_ele(list1,idx+1)
    
list1 = ["arup",2,3.4,True,2+7j,False,"ranjan"]
list1_ele(list1,0)

arup
2
3.4
True
(2+7j)
False
ranjan