# While Loop

Infinite loop

In [ ]:
while True:
    print("Arup")
    break

# Print a number from 1 to 100

In [1]:
i = 1
while i <= 100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Print number from 100 to 1

In [2]:
i = 100
while i >= 1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Print the multiplication tables of a number n.

In [3]:
n = int(input("Enter the table you need: "))
i = 1
while i <= 10:
    print(n*i)
    i+=1

Enter the table you need: 9
9
18
27
36
45
54
63
72
81
90

# Print the elements of the following list using a loop.
[1,4,9,16,25,36,49,64,81,100]

In [7]:
list1 = [1,4,9,16,25,36,49,64,81,100]
i = 0
while i < len(list1):
    print(list1[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

# Serach for a number x in this tuple using loop.
(1,4,9,16,25,36,49,64,81,100)

In [11]:
tuple1 = (1,4,9,16,25,36,49,64,81,100)
x = 49
i = 0
while i < len(tuple1):
    if tuple1[i] == 49:
        print("Found successfully",i)
    i+=1

Found successfully 6

# Break 
#used to terminate the loop when encounted

In [4]:
tuple1 = (1,4,9,16,25,36,49,64,81,100,49)
x = 49
i = 0
while i < len(tuple1):
    if tuple1[i] == 49:
        print("Found successfully",i)
        break
    i+=1

Found successfully 6

# Continue 
#terminates execution in the current iteration and continues ececution of loop with the nect itreation

In [7]:
tuple1 = (1,4,9,16,25,36,49,64,81,100)
x = 49
i = 0
while i < len(tuple1):
    if tuple1[i] == 49:
        i+=1
        continue
    print(i)
    i+=1

0
1
2
3
4
5
7
8
9

# For loop

# Print the element of the following list using a loop .
[1,4,9,16,25,36,49,64,81,100]

In [8]:
list1 = [1,4,9,16,25,36,49,64,81,100]
for i in list1:
    print(i)

1
4
9
16
25
36
49
64
81
100

# print a string using a loop

In [9]:
str1 = "arup ranjan dalai"
for i in str1:
    print(i)

a
r
u
p

r
a
n
j
a
n

d
a
l
a
i

# print a tuple using loop

In [10]:
tuple1 = (1,2,3,4,5)
for i in tuple1:
    print(i)

1
2
3
4
5

# print dictionary using loop

In [15]:
dict1 = {1:"arup",2:"ranjan",3:"dalai"}
for i in dict1:
    print(i)
    print(dict1[i])

1
arup
2
ranjan
3
dalai

# print set using loop

In [14]:
set1 = {1,"arup",2.3,False}
for i in set1:
    print(i)

arup
1
2.3
False

# Serach for a number x in this tuple using loop .
(1,4,9,16,25,36,49,64,81,100)

In [27]:
tuple1 = (1,4,9,16,25,36,49,64,81,100)
for i in tuple1:
    if i == 81:
        print("Found the number",i)
    #else:
        #print("not found the number")

Found the number 81

# Range 
#Range function return a swquence of numbers starting from 0 by default and increments by 1 (by default) and stop before a specific number.

# Print numbers from 1 to 100.

In [17]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# print numbers from 100 to 1

In [18]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# print the multiplication table of a number "N"

In [19]:
n = int(input("Enter the number: "))
for i in range(1,11):
    print(n*i)

Enter the number: 3
3
6
9
12
15
18
21
24
27
30

# Print even and odd numbers.

In [31]:
for x in range(1,11,2):
    print("Odd numbers: ",x)
print()
print()
for y in range(2,11,2):
    print("Even numbers: ",y)

Odd numbers:  1
Odd numbers:  3
Odd numbers:  5
Odd numbers:  7
Odd numbers:  9


Even numbers:  2
Even numbers:  4
Even numbers:  6
Even numbers:  8
Even numbers:  10

# Pass 
#pass is a null statement that does nothing. is is used as a placeholder for future code.

In [28]:
for i in range(1,11,2):
    pass

# WAP to find the sum of first n numbers . (using while and for)

In [34]:
n = int(input("enter the number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(sum)

enter the number: 5
15

In [37]:
n = int(input("Enter the number: "))
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

Enter the number: 5
15

# WAP to find the factorial of first n numbers. using(while and for)

In [1]:
n = int(input("enter the number: "))
fac = 1
while n >= 1:
    fac *= n
    n -= 1
print(fac)

enter the number: 5
120

In [2]:
n = int(input("enter the number: "))
fac = 1
for x in range(n,0,-1):
    fac *= x
    x -= 1
print(fac)

enter the number: 5
120