# Length of set

In [14]:
set1 = {"arup",1,2.3,False,1}
print(len(set1))

4

# Making set using function

In [5]:
set1 =set({1,2,3,4})
print(set1)

{1, 2, 3, 4}

# Empty set

In [7]:
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

# Add an Element

In [17]:
set1 = {"arup",1,2.3,False}
set1.add("dalai")
print(set1)

{False, 1, 2.3, 'arup', 'dalai'}

# Remove an Element

In [10]:
set1 = {"arup",1,2.3,False}
set1.remove("arup")
print(set1)

{False, 1, 2.3}

# Delete set

In [11]:
set1 = {"arup",1,2.3,False}
del set1
print(set1)

NameError: name 'set1' is not defined

# empty the set

In [12]:
set1 = {"arup",1,2.3,False}
set1.clear()
print(set1)

set()

# Remove a random element from set

In [13]:
set1 = {"arup",1,2.3,False}
set1.pop()
print(set1)

{1, 2.3, 'arup'}

# Combine both set values and return new

In [15]:
set1 = {"arup",1,2.3,False}
set2 = {"dalai",24,True,2.3,"arup"}
print(set1.union(set2))

{False, 1, 2.3, 'arup', 24, 'dalai'}

# combine common values and return new

In [18]:
set1 = {"arup",1,2.3,False}
set2 = {"dalai",24,True,2.3,"arup"}
print(set1.intersection(set2))

{1, 2.3, 'arup'}

# Store following words meaning in a python dictionary.

table : "a piece of furniture","list of food and figures"
cat : "a small animal"

In [19]:
dict1 = {"table":["a piece of furniture","list of food and figures"],"cat":"a small animal"}
print(dict1)

{'table': ['a piece of furniture', 'list of food and figures'], 'cat': 'a small animal'}

# You are given a list of subjects for students. assume one class is reuired for 1 subjects . How many classrooms are needed by all students.

"python","java","c++","python","javascript","java","python","java","c++","c"

In [20]:
set1 = {"python","java","c++","python","javascript","java","python","java","c++","c"}
print(len(set1))

5

# WAP to enter marks of 3 subjects from the user and store them in a dictionary . start with an empty dictionary and add one by one . using subject name as key and marks as value.

In [22]:
dict1 = {}
x1 = input("Enter subject: ")
y1 = int(input("Enter the mark: "))
dict1.update({x1:y1})
x2 = input("Enter subject: ")
y2 = int(input("Enter the mark: "))
dict1.update({x2:y2})
x3 = input("Enter subject: ")
y3 = int(input("Enter the mark: "))
dict1.update({x3:y3})
print(dict1)

Enter subject: math
Enter the mark: 90
Enter subject: science
Enter the mark: 80
Enter subject: english
Enter the mark: 100
{'math': 90, 'science': 80, 'english': 100}

# Figure out the way to store 9 and 9.0 as separate values in the set .

In [26]:
set1 = {9,"9.0"}
print(len(set1))
print(set1)

2
{9, '9.0'}

In [28]:
set1 = {("float",9.0),("int",9)}
print(set1)
print(len(set1))

{('float', 9.0), ('int', 9)}
2